/*GLOBAL */
body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background-color: #F1F1F1;
}

h1, h2, h3 {
  font-family: 'Amaranth', sans-serif;
  font-weight: normal;
}

h3 {
  font-size: 20px;
}

.clear {
  clear: both;
}

.yellow {
  color: yellow;
}

.grey {
  color: grey;
}

.red {
  color: red;
}
/* HEADER */
header {
  background-image: url("../img/bg.jpg");
  background-position: center;
  padding-bottom: 30px;
}

header p:first-child {
  text-align: center;
  background-color: rgba(127, 157, 31,0.15);
}

header p, header nav > a {
  color: white;
  padding: 10px;
}

header nav > a:hover {
  background-color: rgba(112, 114, 110, 0.2);
}

header #cornerinfo {
  width: 100px;
  float: right;
}

header nav {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

header div, nav {
  width: 80%;
  margin: 0 auto;
}

header div p {
  float: right;
}

header #logo {
  margin-bottom : 30px;
}

header .fa {
  border-radius: 50%;
  border: 1px solid white;
  padding: 10px;
}

/* MAIN INDEX.PHP */
main {
  width: 80%;
  margin: 0 auto;
}

main img {
  width: 100%
}

main #legend {
  text-align: center;
  font-size: 10px;
  margin-bottom: 20px;
}

/* SLIDER */

main .slides {
  padding-left: 0;
}

/* THES */

.clear {
  clear: both;
}

main #teas {
  margin: 30px 0;
}


main #teas > h2 {
  text-align: center;
  color : #90B52C;
  margin: 0;
  padding: 30px;
  background-color: white;
  display: flex;
}

main #teas h2:before, #teas h2:after {
  color: white;
  content: '';
  flex: 1;
  border-bottom: groove 2px;
  margin: auto 0.8em;
}

main #teas #teas-list {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  margin: 0;
  list-style-type: none;
}

main #teas #teas-list h3 {
  margin: 20px auto;
}

main #teas #teas-list > li {  
  text-align: center;
}

main #teas #teas-list:hover img {
  opacity: 0.5;
}

main #teas #teas-list img:hover {
  opacity: 1;
}
/* PRESENTATION */

main #presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  text-align: center;
  margin-bottom: 30px;
}

main #presentation .type {
  width: 40%;
}

main #presentation .type>img {
  width: 70%;
}

main #presentation .type h2 {
  color: #90B52C;
  display: flex;
}

main #presentation .type .legend {
  font-weight: bold;
  font-family: 'Amaranth', sans-serif;
}

main #presentation .type .bouton {
  padding: 20px;
  background-color: #A58A63;
  color: white;
  text-transform: uppercase;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 15px;
}

main #presentation .type .bouton:hover {
  opacity: 0.5;
}

#presentation .type h2:before, #presentation .type h2:after {
  color: white;
  content: '';
  flex: 1;
  border-bottom: groove 2px;
  margin: auto 0.8em;
}

/* MAIN ABOUT.PHP */
/* SECTION FONDATEURS */
#about {
  background-color: rgb(254, 255, 255);
  margin-bottom: 40px;
}

#about h1, #about .fondateur h2 {
  padding-left: 20px;
  font-weight: normal;
}

#about .fondateur h2 {
  color: #90B52C;
  display: flex;
}

#about .fondateur h2:after {
  color: white;
  content: '';
  flex: 1;
  border-bottom: groove 2px;
  margin: auto 0.8em;
}

#about .fondateur img {
  width: 45%;
  padding: 20px;
}

#about .fondateur #amelie {
  float: left;
}

#about .fondateur #xavier {
  float: right;
}

#about section {
  padding-left: 20px;
  padding-right: 20px;
}

/* SECTION CONCEPT */
#about #concept {
  padding-bottom: 20px;
}
#about #concept .concept {
  width: 30%;
}

#about #concept article {
  width: 40%;
  text-align: center;
  padding: 15px;
}

#about #concept div {
  display: flex;
  background-color: rgb(230, 242, 205);
  padding: 20px;
}

/* MAIN PRODUCT.PHP */
#product {
  margin-bottom: 40px;
  background-color: rgb(254, 255, 255);
  padding: 20px;
}

/* PRODUCT INTRO */
#product #product-intro .rating {
  float: right;
  vertical-align: top;
  text-align: right;
  cursor: pointer;
}

#product #product-intro .strong {
  font-weight: bold;
  font-size: 0.8em;
}

#product #product-intro .em {
  font-style: italic;
  font-size: 0.8em;
}

#product #product-intro #avis {
  color: #90B52C;
  font-size: 0.8em;
}


/* PRODUCT DETAIL */
#product #product-detail {
  display: flex;
}

#product #product-detail .product-detail {
  width: 50%;
}

#product #product-detail #product-detail2 {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#product #product-detail #neuf-euros {
  font-weight: bold;
  font-size: 1.8em;
  margin: 0;
}

#product #product-detail select {
  text-transform: none;
  width: 249px;
  display: inline-block;
  height: 40px;
  padding: 5px 20px;
}

#product #product-detail .bouton {
  padding: 20px;
  background-color: #A58A63;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin: 50px 0 20px 0;

  width: 249px;
  align-self: flex-end;

  text-align: center;
}

#product #product-detail .bouton:hover {
  opacity: 0.5;
}

#product #product-detail #envie {
  color: #90B52C;
}

#product .remise {
  font-weight: bold;
}

/* FOOTER */
/** NAV **/
footer {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

footer #paiement {
  width: 100%;
  padding: 20px;
  background-color: rgba(76, 95, 11,0.25);
}

footer #paiement .fa {
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer #paiement .fa, #paiement a {
  color: #C8D79A;
}

/* UL */
footer>section {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

footer>section>article {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

footer .pied ul {
  padding-left: 0;
}

footer .pied ul li {
  list-style-type: none;
}

footer .pied ul li a {
  color: #C8D79A;
}

footer h3 {
  color: white;
  text-transform: uppercase;
}

/* LICENCE */
#licence {
    display: block;
    text-align: center;
    padding: 25px;
    color: white;
    margin : 0 auto;
    background-color: rgba(76, 95, 11,0.25);
    font-size: 10px;
}

#licence img {
    width: 50px;
}

#licence>a {
  color: white;
}
