/*GLOBAL */
html {
	font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

/* HEADER */
header {
  display: flex;
  flex-direction: row;
  font-family: 'Candal', sans-serif;
}

header > a {
  margin: 40px;
}

header nav {
  display: flex;
  flex-direction: row;
}
header nav .fa {
  color : #EF7D96;
  display: flex;
  flex-direction: column;
}
header nav .fa:hover {
  color : black;
}
header nav a {
  text-decoration: none;
  color: black;
  text-align: center;
  margin: 50px;
}
header nav a:hover {
  color: #EF7D96;
}

#head {
  background-image: url('../img/background.jpg');
  font-family: 'Candal', sans-serif;
  text-align: center;
  padding: 100px 20px;
  color: white;
}
#head h1 {
  font-size: 3em;
}
 #head p {
   font-size: 2em;
   margin: 0;
   }
input {
  background-color: #EF7D96;
  border: none;
  text-transform: uppercase;
  color: #F8BCCA;
}
#search {
    background-color: #EF7D96;
    padding: 10px 30px;
    margin : 0;
  }
/* MAIN INDEX.PHP */
main {
  width: 90%;
  margin: 0 auto;
}
main h2 {
  text-align: center;
  border-top-style : dotted;
  border-right-style: dotted;
  border-left-style: dotted;
  border-color: #283B49;
  padding : 10px;
  font-family: 'Candal', sans-serif;
}
main section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main section article {
  width : 29%;
}
main section article .fa {
  font-size: 40px;
}
main section article p {
  text-align: left;
}
main section article h3, main section article .fa {
  color : #EF7D96;
}
main section article h3 {
  font-family: 'Candal', sans-serif;
}
main section article .prix {
  text-align: center;
  color :  #EF7D96;
}
/* MAIN CONTACT.PHP */
.contact {
  border-top-style: dotted;
  border-color: #EF7D96;
}
.mail p {
  text-align: center;
  padding-top: 20px;
}
.mail p a {
  text-decoration: none;
  color : #EF7D96;
}
iframe {
	width: 100%;
}
/* MAIN CLOUD.PHP MUTUALISE.PHP DEDIE.PHP */
.cloud {
  min-height: 100px;
  border-style: dotted;
  margin-bottom: 20px;
  margin-top: 20px;
  overflow: auto;
}

.cloud .title {
  color: white;
  background-color: #283B49;
  margin: 20px 10px;
  padding: 20px;
  text-align: center;
  font-family: 'Candal', sans-serif;
}

.cloud .command a {
  text-decoration: none;
  color: white;
}
.cloud .command {
  color: white;
  background-color: #EF7D96;
  padding: 15px;
  margin : 10px;
  text-align: center;
  font-family: 'Candal', sans-serif;
}
.cloud .forfait {
  text-align: center;
  font-family: 'Candal', sans-serif;
}
.cloud ul {
  list-style-type: circle;
}

/* FOOTER */
footer {
  background-color: #283B49;
  color: white;
  padding: 20px;
}
footer ul {
  font-weight: bold;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer p {
  padding : 50px;
  text-align: center;
  font-size: 0.8em;
}
footer ul a {
  color: white;
}
/* RESPONSIVE */
@media screen and (max-width: 1024px) {
  header {
    display: flex;
    flex-direction: column;
  }

  header > a {
    margin: 25px auto 5px auto;
  }
  header nav {
    display: flex;
    flex-direction: column;
  }
  header nav a {
    margin: 20px;
  }
  main section {
    display: flex;
    flex-direction: column;
  }
  main section article {
    width : 100%;
    margin-top: 50px;
  }
  footer ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  footer ul li {
    margin-top : 50px;
  }

  .cloud {
    text-align: left;
  }
}
