body {
	background-image: url('../images/concrete_seamless.png');
	color: #398680;
}
header, nav, div {
	margin: 50px;
}

img {
	border: solid 10px white;
	margin: 100px;
}
nav {
	display: flex;
	justify-content: flex-end;
}
figure {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}
img, figcaption {
	transform: translate(100px) rotate(350deg);
	transform-origin: 0 -250px;
	overflow: auto;
}

figcaption {
	z-index: 1;
	text-align: center;
}
.hidden {
	display: none;
}
