em {
	font-weight: bold;
	color: red;
}
ul {
	list-style-type: none;
	width: 800px;
}
li {
	display: inline-block;
}

img {
	margin: 1em;
	padding: 0.5em;
}
img:hover {
	background: silver;
}
.selected {
	background-color: forestgreen;
}
input {
	float: right;
	margin : 20px;
}