/* FONT FACE */


/*GLOBAL */
body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background-color: #F1F1F1;
}
h1, h2, h3 {
  font-family: 'Amaranth', sans-serif;
  font-weight: normal;
}
h3 {
  font-size: 20px;
}

/* HEADER */
header {
  background-image: url("../img/bg.jpg");
  background-position: center;
  padding-bottom: 30px;
}
header p:first-child {
  text-align: center;
  background-color: rgba(127, 157, 31,0.15);
}
header p, nav>a {
  color: white;
}
#cornerinfo {
  width: 100px;
  float: right;
}
nav {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
header div, nav {
  width: 80%;
  margin: 0 auto;
}

header div p {
  float: right;
}

header #logo {
  margin-bottom : 30px;
}

header .fa {
  border-radius: 50%;
  border: 1px solid white;
  padding: 10px;
}

/* MAIN */
main {
  width: 80%;
  margin: 0 auto;
}
main img {
  width: 100%
}
#legend {
  text-align: center;
  font-size: 10px;
  margin-bottom: 20px;
}
/* SLIDER */
.slides {
  padding-left: 0;
}
/* THES */

.clear {
  clear: both;
}

#teas {
  margin: 30px 0;
}


#teas > h2 {
  text-align: center;
  color : #90B52C;
  margin: 0;
  padding: 30px;
  background-color: white;
  display: flex;
}

#teas h2:before, #teas h2:after {
  color: white;
  content: '';
  flex: 1;
  border-bottom: groove 2px;
  margin: auto 0.8em;
}

#teas #teas-list {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  margin: 0;
  list-style-type: none;
}

#teas #teas-list h3 {
  margin: 20px auto;
}

#teas #teas-list > li {  
  text-align: center;
}

#teas #teas-list:hover img {
  opacity: 0.5;
}
#teas #teas-list img:hover {
  opacity: 1;
}
/* PRESENTATION */
#presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  text-align: center;
  margin-bottom: 30px;
}
.type {
  width: 40%;
}
.type>img {
  width: 70%;
}
.type h2 {
  color: #90B52C;
  display: flex;
}
.legend {
  font-weight: bold;
  font-family: 'Amaranth', sans-serif;
}
.bouton {
  padding: 20px;
  background-color: #A58A63;
  color: white;
  text-transform: uppercase;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 15px;
}
.bouton:hover {
  opacity: 0.5;
}
#presentation .type h2:before, #presentation .type h2:after {
  color: white;
  content: '';
  flex: 1;
  border-bottom: groove 2px;
  margin: auto 0.8em;
}
/* FOOTER */
/** NAV **/
footer {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
#paiement {
  width: 100%;
  padding: 20px;
  background-color: rgba(76, 95, 11,0.25);
}
#paiement .fa {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#paiement .fa, #paiement a {
  color: #C8D79A;
}
/* UL */
footer>section {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
footer>section>article {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}
.pied ul {
  padding-left: 0;
}
.pied ul li {
  list-style-type: none;
}
.pied ul li a {
  color: #C8D79A;
}
footer h3 {
  color: white;
  text-transform: uppercase;
}
/* LICENCE */
#licence {
    display: block;
    text-align: center;
    padding: 25px;
    color: white;
    margin : 0 auto;
    background-color: rgba(76, 95, 11,0.25);
    font-size: 10px;
}
#licence img {
    width: 50px;
}
#licence>a {
  color: white;
}
