/** GENERAL **/
body {
	background-image: url("../img/fond.png");
	font-family: 'Bree Serif', serif;
}

/** DIV HEADER **/
header div {
	width: 50%;
}

div img {
	width: 70px;
	margin : 20px;
}
h1 {
	display: inline-block;
	vertical-align: top;
	margin-top: 35px;
}
/** NAV **/
nav {
	width: 40%;
	float: right;
	vertical-align: top;
}
nav a {
	text-align: center;
	display: inline-block;
	margin: 0 20px;
	font-size: 1.25rem;
	text-decoration: none;
	color: #98989A;
}
nav a .fa {
	display: block;
}

/** HEADER SECTION **/
header section {
	background-image: url("../img/bg_header.png");
	height: 400px;
	color: white;
	text-align: center;
}
header section h2 {
	padding-top: 40px;
}
header section p {
	margin: 50px;
	line-height: 30px;
	font-size: 1.125rem;
}
header section p a {
	background-color: #F0245D;
	text-decoration: none;
	color: white;
	border-radius: 20px;
	padding: 15px;
}
/** COMPETENCES & REALISATIONS **/
main, aside, small {
	margin: 0 auto;
    width: 70%; 
}
main h3 {
	text-align: center;
	color: #F0245D;
	border-bottom: solid 1px #F0F1F3;
	padding-bottom: 20px;
	font-size: 1.875rem;
}
main article div {
	display: inline-block;
	width: 28%;
	text-align: center;
	color: #767777;
	font-size: 1.125rem;
	line-height: 30px;
	margin: 20px;
	vertical-align: top;
}

main article div .fa {
	border: 2px solid #E5E6E8;
	border-radius: 50%;
	padding: 15px;
	background-color: #F0F1F3;
}

h4 {
	font-size: 0.9375rem;
}
/** EXEMPLES DE REALISATIONS **/
article, aside {
	line-height: 30px;
	color: #767777;
}
article p a {
	color : #F0245D;
	text-decoration: none;
	margin-left: 10px;
}
.oranges, .aqua {
	width: 40%;
	float: right;
}
h4 {
	color: #F0245D;
}
.reveil, .fleur {
	width: 40%;
	float: left;
	margin-right: 20px;
}

/** FORM **/
aside h3 {
	text-align : center;
	color: #F0245D;
}

form p {
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 35px;
}

form p.w50 {
	width: 45%;

}

form p.w100 {
	width: 100%;
}

form p img {
	margin: 8px;
}
form p input {
	outline: none;
	border: none;

	vertical-align: top;
	padding: 12px;
	margin-top: 10px;
	width: 70%;
}
/** BOUTONS **/
.button {
	margin: 0 auto;
	width: 40%;
	margin-bottom: 100px;
}
#envoyer {
	background-color: #F0245D;
	font-size: 1rem;
	padding: 15px;
	margin-right: 60px;
}
#effacer {
	background-color: #979797;
	font-size: 1rem;
	padding: 15px;
}